# Virtual Environment
.venv/
env/
venv/
ENV/

# Python artifacts
__pycache__/
*.py[cod]

# Django sensitive files
db.sqlite3
.env

# Media and Static
/static/
/media/

# IDE files
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
