Django==6.0.4
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.2
django-anymail==10.2
django-ses==4.4.0
django-storages==1.14.4
django-cloudinary-storage==0.3.0

# Auth
google-auth==2.35.0
PyJWT==2.9.0

# Database
psycopg2-binary==2.9.10

# AWS
boto3==1.35.21

# Image processing
cloudinary==1.41.0
pillow==11.1.0

# Server
gunicorn==23.0.0
whitenoise==6.8.2

# Utils
python-decouple==3.8
requests==2.32.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3
six==1.16.0
